.cui_topbar {
    background: #404040;
}
.cui_topbar_left {
    display: inline-block;
    width: 20%;
    background: #3060b0;
    height: 42px;
    color: #ffffff;
    vertical-align: top;
}

.cui_topbar_app_dropdown {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    padding: 8px;
}

.cui_topbar_acct_dropdown {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    padding: 8px;
    padding-right: 64px;
}


.cui_topbar_middle {
    display: inline-block;
    width: 60%;
    background: #404040;
    height: 42px;
    color: #ffffff;
    vertical-align: top;
}

.cui_topbar_right {
    display: inline-block;
    width: 20%;
    background: #404040;
    height: 42px;
    color: #ffffff;
    vertical-align: top;
    text-align: right;
}

.cui_topbar_menu_item_inner {
    padding: 8px;
    padding-left: 16px;
}

.cui_topbar_menu_item {
    background: #404040;
    font-weight: 400;
    display: inline-block;
    font-size: 18px;
    height: 42px;
    color: #ffffff;
    width: 25%;
    max-width: 175px;
    cursor: pointer;
    vertical-align: top;
}
.cui_topbar_menu_item:hover {
    color: #90d0ff;
}

.cui_topbar_menu_item_selected {
    background: #505050;
    font-weight: 800;
    display: inline-block;
    font-size: 18px;
    height: 42px;
    color: #ffffff;
    width: 25%;
    max-width: 175px;
    cursor: pointer;
    vertical-align: top;
}

.cui_debug {
}
