body {
}


.museum {
}

.museum_button.cui_button {
    color: #ffff00;
    width: 400px;
    font-size: 40px;
    text-align: center;
}

.museum_button.cui_button:hover {
    color: #ffffa0;
    width: 400px;
    text-align: center;
}

.museum .section {
    padding: 16px;
    border-bottom: 1px solid #a0a0a0;
}

.museum .section .desc {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #808080;
    padding-bottom: 16px;
}

.museum .section .title {
    font-size: 32px;
    padding-bottom: 16px;
}


.museum_toggle.cui_toggle {
    display: inline-block;
    padding: 16px;
}

.museum_toggle.cui_toggle.cui_off,
.museum_toggle.cui_toggle.cui_off:hover {
    color: #a0a0a0;
    background: #ffffff;
    border: 1px solid #808080;
}
.museum_toggle.cui_toggle.cui_on,
.museum_toggle.cui_toggle.cui_on:hover {
    color: #ff00ff;
    background: #00ff00;
    border: 1px solid #ffffff;
}

.museum_option.cui_option {
    display: inline-block;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

.museum_option.cui_option_selected {
    padding: 16px;
    display: inline-block;
    color: #303030;
    font-weight: 800;
    background: #ffffff;
}
.museum_option.cui_option_not_selected {
    padding: 16px;
    display: inline-block;
    color: #808080;
    background: #f0f0f0;
}

.museum_popup.cui_popup .cui_inner{
    padding: 16px;
    background: rgba(40, 80, 160, 0.7);
    border-radius: 6px;
    font-weight: 800;
    color: #ffffff;

}
