.cui_default.cui_user_dropdown {
    padding-right: 60px;
}

.cui_default.cui_user_dropdown .cui_dropdown.cui_toggle {
    padding: 8px;
    padding-left: 63px;
    padding-right: 63px;
    background: #303030;
    color: #ffffff;
    font-weight: 400;
}
.cui_default.cui_user_dropdown .cui_dropdown.cui_toggle.cui_off:hover {
    color: #a0e0ff;
}
.cui_default.cui_user_dropdown .cui_dropdown.cui_toggle.cui_on {
    font-weight: 800;
    background: #3870d0;
}

.cui_default.cui_user_dropdown .cui_dropdown.cui_popup {
    width: 100%;
}
.cui_default.cui_user_dropdown .cui_dropdown.cui_popup .cui_inner {
    width: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #a0a0a0;
}

.cui_default.cui_user_dropdown .cui_user_dropdown.cui_option .cui_option.cui_toggle {
    padding: 8px;
    font-weight: 400;
    font-size: 18px;
    background: #f0f0f0;
    background: rgba(240, 240, 240, 0.95);
}

.cui_default.cui_user_dropdown .cui_user_dropdown.cui_option .cui_option.cui_toggle:hover {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.95);
}


@media (max-width : 960px) {
    .cui_default.cui_user_dropdown {
        padding-right: 20px
    }
    .cui_default.cui_user_dropdown .cui_dropdown.cui_toggle {
    padding-left: 30px;
    padding-right: 30px;
    background: #303030;
    color: #ffffff;
}
}
