.cui_default.cui_topbar {
    background: #303030;
    font-size: 16px;
    font-weight: 400;
}

.cui_topbar .cui_topbar.cui_breadcrumb {
    display: inline-block;
    width: 400px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: #00000;
    text-transform: uppercase;
}

.cui_default.cui_topbar .cui_topbar.cui_app_dropdown{
}

.cui_default.cui_topbar .cui_topbar.cui_app_name {
    padding: 8px;
    background: #3060b0;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
}

.cui_default.cui_topbar .cui_topbar.cui_option {
    display: inline-block;
}

.cui_default.cui_topbar .cui_topbar.cui_option .cui_option.cui_toggle {
    display: inline-block;
    text-align: left;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: #a8a8a8;
    width: 125px;
    text-transform: uppercase;
}

.cui_default.cui_topbar .cui_topbar.cui_menu.cui_option {
    width: 100%;
}

.cui_default.cui_topbar .cui_topbar.cui_menu.cui_option .cui_option.cui_toggle {
}

.cui_default.cui_topbar .cui_topbar.cui_option .cui_option.cui_toggle.cui_off:hover {
    color: #d8d8d8;
}

.cui_default.cui_topbar .cui_topbar.cui_option .cui_option.cui_toggle.cui_on {
    font-weight: 400;
    color: #ffffff;
    background: #383838;
}

.cui_default.cui_topbar .cui_topbar.cui_right_section {
    display: inline-block;
    position: absolute;
    right: 0px;
}

/* Topbar Responsive Design */
/*@media (min-width: 720px) and (max-width : 960px) {*/
@media (max-width : 720px) {
    .cui_topbar .cui_resp_left_side {
        display: block;
        width: 100%;
    }
    .cui_default.cui_topbar .cui_topbar.cui_option .cui_option.cui_toggle {
        text-align: left;
    }
}
@media (max-width : 960px) {
    .cui_default.cui_topbar {
        font-size: 15px;
    }

    .cui_default.cui_topbar .cui_topbar.cui_menu.cui_option .cui_option.cui_toggle {
        width: 90px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width : 480px) {
    .cui_default.cui_topbar .cui_user_dropdown {
        display: none;
    }
}


/* Topbar Responsive Design */
/*@media (min-width: 720px) and (max-width : 960px) {
    .cui_topbar .cui_left_section .cui_app_dropdown {
        font-size: 18px;
    }

    .cui_topbar .cui_middle_section {
        font-size: 16px;

    }
    .cui_topbar_acct_dropdown {
        font-size: 16px;
    }
}

@media (max-width : 720px) {
    .cui_topbar .cui_left_section {
        height: 32px;
    }

    .cui_topbar .cui_left_section .cui_app_dropdown {
        font-size: 15px;
    }

    .cui_topbar .cui_middle_section, 
    .cui_topbar .cui_middle_section .cui_menu_item,
    .cui_topbar .cui_middle_section .cui_menu_item_selected {
        font-size: 13px;
        height: 32px;
    }

    .cui_topbar .cui_right_section {
        height: 32px;
    }

    .cui_topbar .cui_right_section .cui_acct_dropdown {
        font-size: 13px;
    }
}

@media (max-width : 640px) {
    .cui_topbar .cui_left_section {
        width: 100%;

    }

    .cui_topbar .cui_middle_section {
        width: 100%;

    }

    .cui_topbar .cui_right_section {
        position: absolute;
        top: 0px;
        right: 0px;
        background: #3060b0;
        width: 25%;
    }

    .cui_topbar .cui_right_section .cui_acct_dropdown {
        padding-right: 16px;
    }
}*/
