.cui_default.cui_user_dropdown {
    padding-right: 60px;
}
.cui_default.cui_user_dropdown .cui_dropdown.cui_toggle {
    padding: 8px;
    padding-left: 63px;
    padding-right: 63px;
    background: #404040;
    color: #ffffff;
    font-weight: 400;
}
.cui_default.cui_user_dropdown .cui_dropdown.cui_toggle.cui_off:hover {
    color: #a0e0ff;
}
.cui_default.cui_user_dropdown .cui_dropdown.cui_toggle.cui_on {
    font-weight: 800;
    background: #3870d0;
}

.cui_default.cui_user_dropdown .cui_dropdown.cui_popup {
    width: 100%;
}
.cui_default.cui_user_dropdown .cui_dropdown.cui_popup .cui_inner {
    width: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #a0a0a0;
}

.cui_default.cui_user_dropdown .cui_user_dropdown.cui_option .cui_option.cui_toggle {
    padding: 8px;
    font-weight: 400;
    font-size: 18px;
    background: rgba(240, 240, 240, 0.95);
}

.cui_default.cui_user_dropdown .cui_user_dropdown.cui_option .cui_option.cui_toggle:hover {
    background: rgba(255, 255, 255, 0.95);
}

/*.cui_user_dropdown {
    padding-right: 90px;
}
.cui_user_dropdown .cui_popup{
    display: inline-block;
    position: relative;
    padding: 8px;
    width: 160px;
    background: rgba(64, 128, 255, 0.8);
    border: 1px single #a0a0a0;
    box-shadow: 8px 8px 10px rgba(48, 96, 172, 0.3);
    color: #ffffff;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}
.cui_user_dropdown .cui_popup .cui_inner{
    padding-left: 8px;
}
.cui_user_dropdown .cui_popup .cui_inner:hover{
    padding-left: 8px;
    color: #b0e0ff;
}
.cui_user_dropdown .cui_menu_item {
    background: #404040;
    font-weight: 400;
    display: inline-block;
    height: 42px;
    color: #ffffff;
    width: 100%;
    max-width: 175px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
}

.cui_user_dropdown .cui_menu_item_inner {
    padding: 8px;
    padding-right: 16px;
}

.cui_user_dropdown .cui_menu_item_selected {
    background: #505050;
    font-weight: 800;
    display: inline-block;
    height: 42px;
    color: #ffffff;
    width: 100%;
    max-width: 175px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
}*/
