.cui_default.cui_app_dropdown .cui_dropdown.cui_toggle {
    padding: 8px;
    background: #3060b0;
    color: #ffffff;
    font-weight: 400;
}
.cui_default.cui_app_dropdown .cui_dropdown.cui_toggle.cui_off:hover {
    color: #ffffff;
    background: #346bc8;
}
.cui_default.cui_app_dropdown .cui_dropdown.cui_toggle.cui_on {
    font-weight: 800;
    background: #3870d0;
}

.cui_default.cui_app_dropdown .cui_dropdown.cui_popup {
    width: 100%;
}
.cui_default.cui_app_dropdown .cui_dropdown.cui_popup .cui_inner {
    width: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #a0a0a0;
}

.cui_default.cui_app_dropdown .cui_app_dropdown.cui_option .cui_option.cui_toggle {
    padding: 8px;
    font-weight: 400;
    font-size: 18px;
    background: rgba(240, 240, 240, 0.95);
}

.cui_default.cui_app_dropdown .cui_app_dropdown.cui_option .cui_option.cui_toggle:hover {
    background: rgba(255, 255, 255, 0.95);
}

/*.cui_app_dropdown .cui_dropdown {
}

.cui_app_dropdown .cui_dropdown .cui_popup {
}

.cui_app_dropdown .cui_dropdown .cui_popup .cui_inner {
    padding: 0px;
}

.cui_app_dropdown .cui_dropdown .cui_button {
    padding: 8px;
    background: #3060b0;
    color: #ffffff;
}

.cui_app_dropdown .cui_dropdown .cui_off {
    background: #3060b0;
}

.cui_app_dropdown .cui_dropdown .cui_on {
    background: #4080f0;
}

.cui_app_dropdown .cui_dropdown .cui_option .cui_button {
    display: block;
    font-size: 16px;
    background: inherit;
    color: #808080;
    white-space: nowrap;
}

.cui_app_dropdown .cui_dropdown .cui_option .cui_button:hover {
    color: #404040;
}

.cui_app_dropdown .cui_dropdown .cui_option .cui_button .cui_off {
    background: inherit;
    color: #808080;
}*/
